* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --font: 'Bangers', cursive;

  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #F0131E;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: 'Bangers';
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* Header */

.header {
  display: flex;
  text-align: center;
  padding: 2.5rem 0rem;
  margin-bottom: 2rem;
}

#main-heading {
  font-size: var(--fs-h1);
}

/* Search Bar */

.search-bar {
margin-bottom: 2rem;
}

/* Hero Search Area */
